@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0062be;

}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e51e2a;
  clip-path: circle(40% at right -20%);

}

.header__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  max-width: 80px;
}

.header__logo:hover {
  transition: 0.8s;
  transform: rotateZ(360deg);

}

.header__menu {
  position: relative;
  display: flex;

}

.header__menu {
  list-style: none;
}

.header__menu li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBox {
  position: relative;
  max-width: 700px;
  margin-right: 20px;

}

.textBox h2 {
  color: #fff;
  font-size: 4em;
  margin-bottom: 10px;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.textBox h2 span {
  font-size: 2em;
}

.textBox p {
  color: #fff;
  line-height: 2rem;
}

.textBox a {
  display: inline-block;
  background: #fff;
  margin-top: 40px;
  padding: 20px 40px;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.imgBox {
  max-width: 600px;
  display: flex;
  padding-right: 150px;
  margin-top: 50px;
  justify-content: flex-end;
}

.imgBox img {
  max-width: 260px;
}


.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 40px;
}

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sci a {
  display: inline-block;
  filter: invert(1);
  margin: 5px 0;
  transform: scale(0.6);
}

.sci a:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}


@media(max-width: 991px) {


  .section {

    padding: 40px;
    padding-bottom: 130px;

  }

  .header__body {
    padding: 20px 40px;
  }

  .header__logo {
    position: relative;
    max-width: 60px;
  }

  .header__body {
    position: fixed;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }

  .header__menu.active {


    visibility: visible;
    opacity: 1;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(./images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 5;
  }

  .toggle.active {
    position: fixed;
    right: 40px;
    background: url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
    z-index: 1000;
  }

  .header__menu li a {
    display: inline-block;
    font-size: 2em;
    font-weight: 400;
    margin: 10px 0;
    color: #111;
    margin-left: 0;

  }

  .header__menu li a:hover {

    color: #ed0223;

  }


  .content {
    flex-direction: column;
    margin-top: 80px;
  }

  .textBox {
    position: relative;
    max-width: 100%;
    padding-right: 20px;

  }

  .textBox h2 {
    font-size: 2em;
  }

  .textBox h2 span {
    font-size: 1em;
  }

  .textBox a {
    font-size: 14px;

    padding: 8px 15px;
  }

  .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    justify-content: center;

  }

  .imgBox img {
    min-width: 150px;
  }

  .thumb li img {
    max-width: 30px;
  }

  .sci {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
